* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrap {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    position: relative;
}

header .wrap {
    position: relative;
    height: 100vh;
    overflow: hidden;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.19); */
}


.footerHeader {
    overflow: hidden;
    background-color: #a4d3d3;
}

/* Nav */
.fas {
    display: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 15px 15vw;
    text-align: right;
    background-color: #a4d3d3;
}

nav ul {
    list-style: none;
    padding: 0 20px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}


nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 0 20px;
    display: block;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    line-height: 61px;
    z-index: 1;
    font-weight: 400;
    transition: 0.3s;
    cursor: default;
}

nav ul li a:hover {
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3vh;
    width: 8vh;
    height: 8vh;
    background-color: #4AA7A7;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 7rem;
    line-height: 61px;
    font-weight: 900;
    cursor: pointer;
}

/* End nav */

/* iam */

.iam {
    width: 100%;
    height: 100vh;
    padding-top: 93px;
    background-image: url('img/mountain.png');
    background-size: contain;
    background-position: 65% 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* transform: rotateY(180deg); */

}

/* header Text */

.description {
    position: absolute;
    top: 40vh;
    left: 5vw;
}

.description p {
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 3;
    -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1.3s;
}

.description h1 {
    font-size: 3.8rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 1;
    -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2s;
}

.description h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.0rem;
    font-weight: 100;
    text-transform: none;
    padding: 0;
    margin: 23px 0 30px 0;
    line-height: 1;
    margin-bottom: 50px;
    -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2.7s;
}

.description p:nth-last-of-type(1) {
    display: inline-block;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1px;
    line-height: 21px;
    border: 1px solid black;
    padding: 10px 20px;
    -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 3.5s;
    transition: .2s;
}

.description p:nth-last-of-type(1):hover {
    color: white;
    background-color: black;
}

/* End description Text */

/* Contact Header */

.contact_header {
    display: flex;
    justify-content: space-around;
}

.contact_header div {
    width: 25%;
    font-size: 2rem;
    line-height: 26px;
    padding: 20px 20px;
    text-align: center
}

.contact_header span {
    font-weight: 700;
}


.looking>p+p {
    text-transform: uppercase;
}

.looking {
    -webkit-animation: slide-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation-delay: 5s;
}

.suggest {
    -webkit-animation: slide-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation-delay: 5.3s;
}

.call {
    -webkit-animation: slide-in-blurred-right 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-right 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation-delay: 5.6s;
}

.mail {
    -webkit-animation: slide-in-blurred-right 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-right 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation-delay: 5.9s;
}

/* End Contact Header */

/* About me */

.aboutMe {
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    padding: 120px;
}



.aboutMe h2 {
    display: block;
    width: 100%;
    font-size: 4.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 80px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #4AA7A7;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.row_aboutMe {
    flex-basis: 30%;
}

.row_aboutMe p {
    font-size: 1.8rem;
    line-height: 160%;
    text-align: justify;
    padding: 0 25px;
}

.row_about {
    padding: 120px 0;
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
}

/* .row_about__block {
    padding: 0 50px;
    float: left;
    position: relative;
    width: 50%;
}

.row_about__border {
    padding: 50px 10px;
    border: 1px solid black;
    margin: 0 15px;
    text-align: center;

} */

.row_about img {
    position: absolute;
    top: -27.5px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    padding: 0 10px;
    left: 50%;
    margin-left: -38px;
    line-height: 160%;
    text-align: center;
    transition: .4s;
}

/* .row_about__border:hover img {
    transform: scale(1.07);
} */

.row_about h3 {
    padding-bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase
}

.row_about p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 160%;
    padding: 0 25px;

}

/* End About */

/* Motto */

.slogan {
    text-align: center;
    background-image: url(img/icelandLandscape.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    color: white;
}

.slogan .text {
    font-size: 2.8rem;
    letter-spacing: 2px;
    line-height: 160%;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
}

.slogan .author {
    font-size: 1.8rem;
    padding-top: 15px;
    letter-spacing: 1px;
}

.slogan .bg {
    background-color: rgba(0, 0, 0, 0.59);
    padding: 130px 0;
}

/*  Technologies */

.skills {
    padding: 120px 0;
}

.skills h2 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 80px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #4AA7A7;
}

.row_technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 50vh;
}

.skill {
    width: 15vh;
    height: 15vh;
    margin: 0 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.skill_example {
    position: relative;
}

.skill_example:nth-of-type(1) .skill {
    background-image: url("img/html-5.png");
    border-radius: 50%;
    opacity: 0.3;
}

.skill_example:nth-of-type(2) .skill {
    background-image: url("img/css.png");
    border-radius: 50%;
    opacity: 0.3;
}

.skill_example:nth-of-type(3) .skill {
    background-image: url("img/sass.png");
    border-radius: 50%;
    opacity: 0.3;
}

.skill_example:nth-of-type(4) .skill {
    background-image: url("img/javascript.png");
    border-radius: 50%;
    opacity: 0.3;
}

.skill_example:nth-of-type(5) .skill {
    background-image: url("img/java.png");
    border-radius: 50%;
    opacity: 0.3;
}

.skill_example:nth-of-type(6) .skill {
    background-image: url("img/github.png");
    border-radius: 50%;
    opacity: 0.3;
}


.skill_example p {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    font-family: "roboto";
    font-weight: 300;
}

/*  End Technologies */

/* portfolio */

.portfolio {
    background-color: rgb(255, 255, 255);
    padding: 120px 0;
    ;
}

.portfolio h2 {
    font-size: 4.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 80px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #4AA7A7;
    text-align: center;
    width: 100%;
}

.portfolio .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .project {
    width: 30%;
    height: 30vh;
}

.portfolio .project .web {
    height: 90%;
}

.project_icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0 15px 20px -10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 15px 20px -10px rgba(0, 0, 0, .3);
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, .3);
}

.project:nth-of-type(1) .project_icon {
    height: 100%;
    background-image: url("img/vet.PNG");
}

.project:nth-of-type(2) .project_icon {
    height: 100%;
    background-image: url("img/elegman.PNG");
}

.project:nth-of-type(3) .project_icon {
    height: 100%;
    background-image: url("img/sm.PNG");
}

.project_about {
    padding-top: 15px;
    text-align: center;
}

.project_about h3 {
    font-size: 2.2rem;
}

.project_about p {
    font-size: 2rem;
    font-family: "roboto condensed";
    font-weight: 300;
}

/* end portfolio */


/* contact */

.contact {
    background-color: #ecf6f6;
    padding: 120px 0;
}

.contact h2 {
    display: block;
    font-size: 4.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 80px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}


.contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;

}

.contact input,
.contact button,
.contact textarea {
    width: 100%;
    font-family: "Roboto Condensed";
    border-style: none;
    padding: 10px;
}

.contact input,
.contact textarea {
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);
    background-color: #ecf6f6;
    line-height: 30px;
    font-size: 2rem;
    margin-bottom: 40px;

}

.field_set_l,
.field_set_r {
    width: 48%;
}

.contact input {
    cursor: text;
}

.contact textarea {
    height: 200px;
    width: 97%;
}

.contact input:focus,
.contact textarea:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.contact button {
    width: 40%;
    line-height: 40px;
    font-size: 2.5rem;
    background-color: #646463;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;

}

.contact button:hover {
    color: white;
    background-color: black;
}


.contact .form_wrap {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}

.social {
    display: flex;
}

.social img {
    width: 4vh;
    height: 4vh;
}

.social span {
    line-height: 4vh;
    padding-left: 10px;
    font-size: 1.5rem;
}

.socials a {
    text-decoration: none;
    color: black
}

/* end contact */

/* footer */

footer {
    text-align: center;
    background-color: #4AA7A7;
    color: white;
}

footer p {
    font-size: 1.2rem;
    line-height: 60px;
    text-transform: uppercase;
}


@media (max-width: 1024px) {
    nav {
        padding: 15px 5vw;
    }

    .iam {
        background-position: 90% 100px;
    }

    .aboutMe {
        padding: 120px 0;
    }

    .skills {
        padding-bottom: 60px;
    }

    .skill {
        width: 10vh;
        height: 10vh;
    }

    .skill_example p {
        font-size: 4rem;
    }

    .portfolio .project {
        width: 51%;
        height: 40vh;
        padding-bottom: 80px;
    }
}

@media (max-width: 854px) and (orientation: landscape) {
    .logo {
        font-size: 3rem;
        top: 6vh;
        /* transition: 0.3s; */
    }

    .logo.show {
        top: 49vh;
    }

    .burger i {
        position: absolute;
        display: block;
        font-size: 3rem;
        right: 5vw;
        top: 2vh;
        transition: 0.3s;
    }

    .fa-bars.off {
        display: none;
    }


    .fa-tree.off {
        display: none;
    }

    .fa-tree {
        display: block;
        transform: rotate(-90deg);
    }

    nav {
        min-height: 10vh;
        transition: 0.3s;
    }

    nav ul {
        display: none;
        transition: 0.3s;
    }

    nav ul.show {
        display: block;
        text-align: center;
    }

    nav ul li a {
        line-height: 45px;
    }

    .iam {
        background-position: 90% 52px;
    }

    .description {
        top: 35vh;
        left: 12vw;
    }

    .description p {
        font-size: 1.8rem;
    }

    .description h1 {
        font-size: 3.5rem;
    }

    .description h2 {
        font-size: 1.7rem;
    }

    .contact_header div {
        font-size: 1.4rem;
        line-height: 20px;
    }

    .aboutMe {
        padding: 60px 0;
    }

    .aboutMe h2,
    .skills h2,
    .portfolio h2,
    .contact h2 {
        font-size: 3rem;
        margin-bottom: 40px;
    }

    .row_aboutMe p {
        font-size: 1.4rem;
        padding: 0 14px;
    }

    .slogan .bg {
        padding: 60px 0;
    }

    .skills {
        padding: 90px 0 0;
    }

    .skill {
        width: 17vh;
        height: 22vh;
    }

    .skill_example p {
        font-size: 2.8rem;
    }

    .portfolio .project {
        width: 30%;
        height: 55vh;
        padding-bottom: 30px;
    }

    .project_about h3 {
        font-size: 1.8rem;
    }

    .project_about p {
        font-size: 1.6rem;
    }

    .contact {
        padding: 60px 0;
    }

    .contact button {
        width: 25%;
        line-height: 26px;
        font-size: 2rem;
    }

    .social img {
        width: 7vh;
        height: 7vh;
    }

    .social span {
        line-height: 7vh;
    }

    footer p {
        font-size: 1rem;
        line-height: 22px;
    }
}

@media (max-width: 812px) and (orientation: landscape) {
    .burger i {
        font-size: 2.5rem;
    }

    nav ul li a {
        font-size: 1.3rem;
        line-height: 37px;
    }

    .logo.show {
        top: 54vh;
    }

    .contact_header div {
        font-size: 1.3rem;
    }

    .social span {
        font-size: 1.3rem;
    }

    @media (max-width: 768px) {
        .logo {
            top: 5vh;
        }

        nav ul li a {
            font-size: 1.5rem;
        }

        .contact_header div {
            font-size: 1.5rem;
        }
    }


    @media (max-width: 736px) and (orientation: landscape) {
        nav {
            min-height: 10vh;
        }

        nav ul li a {
            font-size: 1.2rem;
            line-height: 35px;
        }

        .logo {
            top: 6vh;
        }

        .logo.show {
            top: 45vh;
        }

        .description {
            top: 30vh;
        }

        .iam {
            background-position: 96% 39px;
        }

        .contact_header div {
            font-size: 1.2rem;
        }

        .row_aboutMe p {
            font-size: 1.2rem;
        }

        .skills {
            padding-top: 120px;
        }

        .social span {
            font-size: 1.2rem;
        }
    }

    @media (max-width: 667px) and (orientation: landscape) {
        .logo.show {
            top: 51vh;
        }
    }

    @media (max-width: 640px) and (orientation: landscape) {
        .logo.show {
            top: 53vh;
        }

        .description p {
            font-size: 1.5rem;
        }

        .description h1 {
            font-size: 2.7rem;
        }

        .description h2 {
            font-size: 1.5rem;
            margin-bottom: 30px;
        }

        .contact_header div {
            font-size: 1rem;
        }

        .slogan .text {
            font-size: 2.2rem;
        }

        .skill_example p {
            font-size: 2.2rem;
        }

        .contact button {
            font-size: 1.5rem;
        }

        footer p {
            font-size: 0.8rem;
        }

    }

    @media (max-width: 533px) {
        nav {
            line-height: 12vh;
        }

        nav ul li a {
            padding: 10px;
            line-height: 10px;
        }

        .logo {
            padding: 20px;
        }

        .logo.show {
            top: 50vh;
        }

        .contact_header div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1rem;
            line-height: 15px;
        }

        .social span {
            font-size: 1rem;
        }
    }

    @media (max-width:480px) {}

    @media (max-width: 384px) {
        .project_about h3 {
            font-size: 1.5rem;
        }

        .contact .socials {
            margin-top: 30px;
        }
    }

    @media (max-width: 320px) {
        /* .row_about__block {
        padding: 0;
    } */

        .project:nth-of-type(3) .project_about {
            padding: 0 20px;
        }

        .project:nth-of-type(3) .project_about h3 {
            text-indent: 0;
        }

        .contact .social_adres {
            width: 60%;
        }
    }



    /* keyframes */

    @-webkit-keyframes scale-in-hor-right {
        0% {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            opacity: 1;
        }

        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            opacity: 1;
        }
    }


    @keyframes scale-in-hor-right {
        0% {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            opacity: 1;
        }

        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            opacity: 1;
        }
    }

    @-webkit-keyframes slide-in-blurred-left {
        0% {
            -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }
    }

    @keyframes slide-in-blurred-left {
        0% {
            -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }
    }


    @-webkit-keyframes slide-in-blurred-right {
        0% {
            -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }
    }

    @keyframes slide-in-blurred-right {
        0% {
            -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }
    }
}