#team-wrapper {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 100px;
}

#image {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

#image img {
    border-radius: 50%;
}

#team {
    background-color: #292929
}

#profession, span, #name {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
    font-family: Open Sans;
    letter-spacing: 1px;
}

span {
    display: block;
    padding-top: 35px;
    opacity: 0.6;
}

#name {
    font-size: 14px;
    opacity: 0.8;
    text-transform: uppercase;
}

#profession {
    text-transform: uppercase;
}